In [223]:
import pandas as pd
import numpy as np

In [224]:
# 데이터 불러오기
trade_df = pd.read_csv('../trades.csv')
complex_df = pd.read_csv('../complexes.csv')
pyeong_df = pd.read_csv('../pyeongs.csv')

In [225]:
# pyeong 데이터에서 complexNo와  exclusiveArea가 동일한 행들을 모두 제거
pyeong_df.drop_duplicates(subset=['complexNo', 'exclusiveArea'], inplace=True)

pyeong_df[['complexNo', 'exclusiveArea']].value_counts().sort_values(ascending=False)

complexNo  exclusiveArea
1          59.13            1
           69.21            1
           84.73            1
3          84.92            1
           119.67           1
                           ..
134766     44.35            1
           46.38            1
134768     27.36            1
134728     40.47            1
134768     29.98            1
Length: 62975, dtype: int64

In [229]:
# pyeong과 complex 조인
pyeong_complex_df = pd.merge(
                        pyeong_df, 
                        complex_df, 
                        left_on='complexNo',
                        right_on='complexNo',
                        how='inner'
                    )

In [232]:
# completionYear 컬럼이 NaN인 행을 모두 제거
pyeong_complex_df.dropna(subset = ['completionYear'], inplace=True)
print(pyeong_complex_df)

       Unnamed: 0_x     id  complexNo  pyeongNo  supplyArea pyeongName  \
0                 0      1          1         1       82.29         82
1             12174  12175          1         2       89.83         89
2             23435  23436          1         4      103.32        103
3             32898  32899          1         3      104.86        104
4                 1      2         10         1       55.51         55
...             ...    ...        ...       ...         ...        ...
44406         12173  12174       9999         1       44.91         44
44407         23434  23435       9999         2       48.38         48
44408         32899  32900       9999         4       68.92        68A
44409         40280  40281       9999         5       70.40        70B
44410         45896  45897       9999         3       72.20         72

       supplyPyeong pyeongName2  exclusiveArea  exclusivePyeong  ...  \
0             24.89          24          59.13            17.88  ...
1             27.17          27          69.21            20.93  ...
2             31.25          31          84.73            25.63  ...
3             31.72          31          80.80            24.44  ...
4             16.79          16          37.67            11.39  ...
...             ...         ...            ...              ...  ...
44406         13.58          13          36.86            11.15  ...
44407         14.63          14          39.69            12.00  ...
44408         20.84         20A          56.57            17.11  ...
44409         21.29         21B          57.79            17.48  ...
44410         21.84          21          59.27            17.92  ...

       btlRatio parkingCountByHousehold  constructionCompanyName  \
0             0                    1.00                  현대건설(주)
1             0                    1.00                  현대건설(주)
2             0                    1.00                  현대건설(주)
3             0                    1.00                  현대건설(주)
4            18                    0.46                  (주)거성건설
...         ...                     ...                      ...
44406        48                    0.70                    미라보건설
44407        48                    0.70                    미라보건설
44408        48                    0.70                    미라보건설
44409        48                    0.70                    미라보건설
44410        48                    0.70                    미라보건설

      heatMethodTypeCode  heatFuelTypeCode               pyoengNames  \
0                  HT001             HF001       82㎡, 89㎡, 103㎡, 104
1                  HT001             HF001       82㎡, 89㎡, 103㎡, 104
2                  HT001             HF001       82㎡, 89㎡, 103㎡, 104
3                  HT001             HF001       82㎡, 89㎡, 103㎡, 104
4                  HT005             HF002                   55㎡, 80
...                  ...               ...                       ...
44406              HT001             HF001  44㎡, 48㎡, 68A㎡, 70B㎡, 72
44407              HT001             HF001  44㎡, 48㎡, 68A㎡, 70B㎡, 72
44408              HT001             HF001  44㎡, 48㎡, 68A㎡, 70B㎡, 72
44409              HT001             HF001  44㎡, 48㎡, 68A㎡, 70B㎡, 72
44410              HT001             HF001  44㎡, 48㎡, 68A㎡, 70B㎡, 72

             address  roadAddressPrefix          createdAt_y  \
0      서울시 성동구 성수동1가            서울시 성동구  2020-09-26 12:11:35
1      서울시 성동구 성수동1가            서울시 성동구  2020-09-26 12:11:35
2      서울시 성동구 성수동1가            서울시 성동구  2020-09-26 12:11:35
3      서울시 성동구 성수동1가            서울시 성동구  2020-09-26 12:11:35
4        서울시 강서구 등촌동            서울시 강서구  2020-09-26 12:11:35
...              ...                ...                  ...
44406  서울시 서대문구 남가좌동           서울시 서대문구  2020-09-26 12:11:40
44407  서울시 서대문구 남가좌동           서울시 서대문구  2020-09-26 12:11:40
44408  서울시 서대문구 남가좌동           서울시 서대문구  2020-09-26 12:11:40
44409  서울시 서대문구 남가좌동           서울시 서대문구  2020-09-26 12:11:40
44410  서울시 서대문구 남가좌동           서울시 서대문구  2020-09-26 12:11:40

               updatedAt_y
0      2020-09-26 12:11:35
1      2020-09-26 12:11:35
2      2020-09-26 12:11:35
3      2020-09-26 12:11:35
4      2020-09-26 12:11:35
...                    ...
44406  2020-09-26 12:11:40
44407  2020-09-26 12:11:40
44408  2020-09-26 12:11:40
44409  2020-09-26 12:11:40
44410  2020-09-26 12:11:40

[44386 rows x 67 columns]

In [233]:
pyeong_complex_df[['detailAddress', 'exclusiveArea', 'completionYear']].value_counts().sort_values(ascending=False)

detailAddress   exclusiveArea  completionYear
105             46.75          1993.0            4
                118.25         1993.0            3
                59.89          1993.0            3
                84.66          1993.0            2
                108.08         1993.0            2
                                                ..
항동지구5블록         76.95          2019.0            1
                84.87          2019.0            1
세곡2보금자리주택지구4블럭  101.40         2014.0            1
                101.18         2014.0            1
39-649          12.16          2013.0            1
Length: 44373, dtype: int64

In [236]:
pyeong_complex_df.drop_duplicates(subset=['detailAddress', 'exclusiveArea', 'completionYear'], inplace=True)

pyeong_complex_df[['detailAddress', 'exclusiveArea', 'completionYear']].value_counts().sort_values(ascending=False)

detailAddress  exclusiveArea  completionYear
1              41.58          1991.0            1
               84.92          2000.0            1
               68.76          1991.0            1
               71.78          1990.0            1
               176.40         1988.0            1
                                               ..
항동지구5블록        76.88          2019.0            1
               76.95          2019.0            1
               84.87          2019.0            1
항동공공주택지구6블록    116.99         2020.0            1
항동지구5블록        106.87         2019.0            1
Length: 44373, dtype: int64

In [240]:
# '실거래가 데이터'와 '단지데이터+평데이터' 조인
pyeong_complex_df['fk'] = pyeong_complex_df['detailAddress'] + ' ' \
                        + pyeong_complex_df['exclusiveArea'].astype('str') + ' ' \
                        + pyeong_complex_df['completionYear'].astype('int64').astype('str')

trade_df['fk'] = trade_df['detailAddress'] + ' ' \
                + trade_df['exclusiveArea'].astype('str') + ' ' \
                + trade_df['constructYear'].astype('str')

raw_train_df = pd.merge(trade_df, 
                        pyeong_complex_df, 
                        left_on='fk', 
                        right_on='fk',
                        how='left'
                       )

print(raw_train_df)

        Unnamed: 0     id_x      address_x detailAddress_x  detailAddressMain  \
0                0   999571  서울특별시 도봉구 방학동             713                713
1                1   999572  서울특별시 강남구 개포동           655-2                655
2                2   999573  서울특별시 강남구 개포동           655-2                655
3                3   999574  서울특별시 강남구 개포동           658-1                658
4                4   999575  서울특별시 강남구 개포동           658-1                658
...            ...      ...            ...             ...                ...
999565      999565  1999136  서울특별시 중랑구 중화동            11-7                 11
999566      999566  1999137  서울특별시 중랑구 중화동            11-7                 11
999567      999567  1999138  서울특별시 중랑구 중화동            11-7                 11
999568      999568  1999139  서울특별시 중랑구 중화동            11-7                 11
999569      999569  1999140  서울특별시 중랑구 중화동            11-7                 11

        detailAddressSub   complexName_x  exclusiveArea_x  \
0                      0      브라운스톤방학아파트            84.90
1                      2  개포2차현대아파트(220)            77.75
2                      2  개포2차현대아파트(220)            77.75
3                      1  개포6차우성아파트1동~8동            67.28
4                      1  개포6차우성아파트1동~8동            54.98
...                  ...             ...              ...
999565                 7     현대휴앤미(102동)            77.71
999566                 7     현대휴앤미(102동)            76.43
999567                 7     현대휴앤미(102동)            67.36
999568                 7     현대휴앤미(102동)            64.48
999569                 7     현대휴앤미(102동)            76.43

                contactDate      price  ...  btlRatio  \
0       2005-11-01 00:00:00  171000000  ...       0.0
1       2012-05-01 00:00:00  660000000  ...      20.0
2       2012-07-09 00:00:00  580000000  ...      20.0
3       2012-12-26 00:00:00  557000000  ...      21.0
4       2010-01-28 00:00:00  660000000  ...      21.0
...                     ...        ...  ...       ...
999565  2015-05-05 00:00:00  275000000  ...       NaN
999566  2015-05-19 00:00:00  269000000  ...       NaN
999567  2015-06-03 00:00:00  249500000  ...       NaN
999568  2015-07-01 00:00:00  260000000  ...       NaN
999569  2015-10-13 00:00:00  282500000  ...       NaN

        parkingCountByHousehold constructionCompanyName heatMethodTypeCode  \
0                          1.18                이수건설주식회사              HT001
1                          0.00               현대산업개발(주)              HT002
2                          0.00               현대산업개발(주)              HT002
3                          1.00                 우성건설(주)              HT001
4                          1.00                 우성건설(주)              HT001
...                         ...                     ...                ...
999565                      NaN                     NaN                NaN
999566                      NaN                     NaN                NaN
999567                      NaN                     NaN                NaN
999568                      NaN                     NaN                NaN
999569                      NaN                     NaN                NaN

       heatFuelTypeCode   pyoengNames    address_y  roadAddressPrefix  \
0                 HF001   109A㎡, 109B  서울시 도봉구 방학동            서울시 도봉구
1                 HF001            98  서울시 강남구 개포동            서울시 강남구
2                 HF001            98  서울시 강남구 개포동            서울시 강남구
3                 HF001  61㎡, 73㎡, 86  서울시 강남구 개포동            서울시 강남구
4                 HF001  61㎡, 73㎡, 86  서울시 강남구 개포동            서울시 강남구
...                 ...           ...          ...                ...
999565              NaN           NaN          NaN                NaN
999566              NaN           NaN          NaN                NaN
999567              NaN           NaN          NaN                NaN
999568              NaN           NaN          NaN                NaN
999569              NaN           NaN          NaN                NaN

                createdAt_y          updatedAt_y
0       2020-09-26 12:11:40  2020-09-26 12:11:40
1       2020-09-26 12:11:35  2020-09-26 12:11:35
2       2020-09-26 12:11:35  2020-09-26 12:11:35
3       2020-09-26 12:11:40  2020-09-26 12:11:40
4       2020-09-26 12:11:40  2020-09-26 12:11:40
...                     ...                  ...
999565                  NaN                  NaN
999566                  NaN                  NaN
999567                  NaN                  NaN
999568                  NaN                  NaN
999569                  NaN                  NaN

[999570 rows x 83 columns]

In [183]:
# 불필요한 컬럼 제거
raw_train_df = raw_train_df[['id_x', 'detailAddress_x', 'complexName_x', 'exclusiveArea_x', 'contactDate', 'price', 'floor', 'constructYear',
       'roadAddress_x', 'complexNo', 'pyeongNo', 'supplyArea', 'supplyPyeong', 'exclusiveArea_y', 'exclusivePyeong',
       'householdCountByPyeong', 'realEstateTypeCode_x', 'exclusiveRate', 'entranceType', 'roomCnt', 'bathroomCnt',
       'complexName_y', 'cortarNo',  'detailAddress_y', 'roadAddress_y', 'latitude', 'longitude', 'totalHouseholdCount', 
       'totalLeaseHouseholdCount', 'highFloor', 'lowFloor', 'completionYear', 'completionMonth', 'totalDongCount',
       'maxSupplyArea', 'minSupplyArea', 'dealCount', 'rentCount', 'batlRatio', 'btlRatio', 'parkingCountByHousehold', 
       'constructionCompanyName', 'heatMethodTypeCode', 'heatFuelTypeCode', 'address_y']]

raw_train_df.columns = ['id', 'detailAddress', 'complexName', 'exclusiveArea', 'contactDate', 'price', 'floor', 'constructYear',
       'roadAddress', 'complexNo', 'pyeongNo', 'supplyArea', 'supplyPyeong', 'exclusiveArea', 'exclusivePyeong',
       'householdCountByPyeong', 'realEstateTypeCode', 'exclusiveRate', 'entranceType', 'roomCnt', 'bathroomCnt',
       'complexName', 'cortarNo',  'detailAddress', 'roadAddress', 'latitude', 'longitude', 'totalHouseholdCount', 
       'totalLeaseHouseholdCount', 'highFloor', 'lowFloor', 'completionYear', 'completionMonth', 'totalDongCount',
       'maxSupplyArea', 'minSupplyArea', 'dealCount', 'rentCount', 'batlRatio', 'btlRatio', 'parkingCountByHousehold', 
       'constructionCompanyName', 'heatMethodTypeCode', 'heatFuelTypeCode', 'address']

In [242]:
raw_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999570 entries, 0 to 999569
Data columns (total 83 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    999570 non-null  int64
 1   id_x                          999570 non-null  int64
 2   address_x                     999570 non-null  object
 3   detailAddress_x               999418 non-null  object
 4   detailAddressMain             999570 non-null  int64
 5   detailAddressSub              999570 non-null  int64
 6   complexName_x                 999570 non-null  object
 7   exclusiveArea_x               999570 non-null  float64
 8   contactDate                   999570 non-null  object
 9   price                         999570 non-null  int64
 10  floor                         999570 non-null  int64
 11  constructYear                 999570 non-null  int64
 12  roadAddress_x                 999570 non-null  object
 13  createdAt                     999570 non-null  object
 14  updatedAt                     999570 non-null  object
 15  fk                            999418 non-null  object
 16  Unnamed: 0_x                  792387 non-null  float64
 17  id_y                          792387 non-null  float64
 18  complexNo                     792387 non-null  float64
 19  pyeongNo                      792387 non-null  float64
 20  supplyArea                    792387 non-null  float64
 21  pyeongName                    792387 non-null  object
 22  supplyPyeong                  792387 non-null  float64
 23  pyeongName2                   792387 non-null  object
 24  exclusiveArea_y               792387 non-null  float64
 25  exclusivePyeong               792387 non-null  float64
 26  householdCountByPyeong        792387 non-null  float64
 27  realEstateTypeCode_x          792387 non-null  object
 28  exclusiveRate                 792387 non-null  float64
 29  entranceType                  792387 non-null  object
 30  minPrice                      792387 non-null  float64
 31  maxPrice                      792387 non-null  float64
 32  propertyTotalTax              607230 non-null  float64
 33  propertyTax                   607230 non-null  float64
 34  localEduTax                   607230 non-null  float64
 35  cityAreaTax                   607230 non-null  float64
 36  realEstateTotalTax            607230 non-null  float64
 37  decisionTax                   607230 non-null  float64
 38  ruralSpecialTax               607230 non-null  float64
 39  roomCnt                       792387 non-null  float64
 40  bathroomCnt                   792387 non-null  float64
 41  createdAt_x                   792387 non-null  object
 42  updatedAt_x                   792387 non-null  object
 43  Unnamed: 0_y                  792387 non-null  float64
 44  complexName_y                 792387 non-null  object
 45  cortarNo                      792387 non-null  float64
 46  realEstateTypeCode_y          792387 non-null  object
 47  realEstateTypeName            792387 non-null  object
 48  detailAddress_y               792387 non-null  object
 49  roadAddress_y                 792387 non-null  object
 50  latitude                      792387 non-null  float64
 51  longitude                     792387 non-null  float64
 52  totalHouseholdCount           792387 non-null  float64
 53  totalLeaseHouseholdCount      792387 non-null  float64
 54  permanentLeaseHouseholdCount  792387 non-null  float64
 55  nationLeaseHouseholdCount     792387 non-null  float64
 56  civilLeaseHouseholdCount      792387 non-null  float64
 57  publicLeaseHouseholdCount     792387 non-null  float64
 58  longTermLeaseHouseholdCount   792387 non-null  float64
 59  etcLeaseHouseholdCount        792387 non-null  float64
 60  highFloor                     792387 non-null  float64
 61  lowFloor                      792387 non-null  float64
 62  completionYear                792387 non-null  float64
 63  completionMonth               792387 non-null  object
 64  totalDongCount                792387 non-null  float64
 65  maxSupplyArea                 792387 non-null  float64
 66  minSupplyArea                 792387 non-null  float64
 67  dealCount                     792387 non-null  float64
 68  rentCount                     792387 non-null  float64
 69  leaseCount                    792387 non-null  float64
 70  shortTermRentCount            792387 non-null  float64
 71  isBookmarked                  792387 non-null  float64
 72  batlRatio                     792387 non-null  float64
 73  btlRatio                      792387 non-null  float64
 74  parkingCountByHousehold       792387 non-null  float64
 75  constructionCompanyName       769360 non-null  object
 76  heatMethodTypeCode            792047 non-null  object
 77  heatFuelTypeCode              792067 non-null  object
 78  pyoengNames                   792387 non-null  object
 79  address_y                     792387 non-null  object
 80  roadAddressPrefix             792387 non-null  object
 81  createdAt_y                   792387 non-null  object
 82  updatedAt_y                   792387 non-null  object
dtypes: float64(48), int64(7), object(28)
memory usage: 640.6+ MB